extends layout-blocks/layout
block content
  .content
    img(src="../img/pineapple-logo-design-manchester.png", width="200" alt="")
    h1.tx--black Hi, This is the best Gulp Boilerplate
      
    
